{% extends 'celu/base.html' %}
{% load static %}
{%block background%}
<body background="{% static 'picture/common/Fondo-blanco.jpg'%}">
{%endblock%}
{% block content %}
<div class="album py-5">
    <h1>Catálogo de Celulares</h1>        
    <div class="container">
        <div class="row"> 
            {%for celular in celulares%}
                <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                        <img src= "{{ celular.foto.url }}" class="Imagentelefonos" >
                        <div class="card-body">
                            <p class="card-text" _msthash="1893060" _msttexthash="14015339">{{  celular.modelo  }}</p>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
