{% extends 'celu/base.html' %}
{% load static %}
{% block content %}
<div class="album py-5">
    <h1>Catálogo de Celulares</h1>        
    <div class="container">
        <div class="row">                     
            <div class="col-md-4">
               <div class="card mb-4 shadow-sm">
                    <img src="{% static 'picture/celulares/Galaxy_S9.png' %}" class="Imagentelefonos" >
                    <div class="card-body">
                        <p class="card-text" _msthash="1893060" _msttexthash="14015339">Samsung Glaxy S9</p>
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                     <img src="{% static 'picture/celulares/Galaxy_S10Lite.png' %}" class="Imagentelefonos" >
                     <div class="card-body">
                         <p class="card-text" _msthash="1893060" _msttexthash="14015339">Samsung Glaxy S10 Lite</p>
                     </div>  
                 </div>
             </div>
             <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                     <img src="{% static 'picture/celulares/Galaxy_S20+.png' %}" class="Imagentelefonos" >
                     <div class="card-body">
                         <p class="card-text" _msthash="1893060" _msttexthash="14015339">Samsung Glaxy S20+</p>
                     </div>  
                 </div>
             </div>
             <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                     <img src="{% static 'picture/celulares/Galaxi_Z_Flix.png' %}" class="Imagentelefonos" >
                     <div class="card-body">
                         <p class="card-text" _msthash="1893060" _msttexthash="14015339">Samsung Glaxy Z Flix</p>
                     </div>  
                 </div>
             </div>
             <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                     <img src="{% static 'picture/celulares/Galaxy_Note8.png' %}" class="Imagentelefonos" >
                     <div class="card-body">
                         <p class="card-text" _msthash="1893060" _msttexthash="14015339">Samsung Glaxy Note 8</p>
                     </div>  
                 </div>
             </div>
             <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                     <img src="{% static 'picture/celulares/Galaxy_Tab_A10.png' %}" class="Imagentelefonos" >
                     <div class="card-body">
                         <p class="card-text" _msthash="1893060" _msttexthash="14015339">Samsung Glaxy-Tab A10</p>
                     </div>  
                 </div>
             </div>                           
        </div>
    </div>
</div>
{% endblock %}
