{% extends 'celu/base.html' %}
{% load static %}
{%block background%}
<body background="{% static 'picture/common/Fondo_LoginReg.jpg'%}">
{%endblock%}

{% block content %}
<div>
  <div id="Formulario_Registro">
    <form action="" class="formulario" method="POST">
      {% csrf_token %}
        <h1 class="formulario__titulo">Registro</h1>
        <br>
        <br>
        <input type="username" class= "formulario__input" name = 'username'>
        <label for="" class="formulario__label">Nombre de Usuario</label>
        <input type="email" class= "formulario__input" name = 'email'>
        <label for="" class="formulario__label">Email</label>
        <input type="password" class= "formulario__input" name = 'password1'>
        <label for="" class="formulario__label">Contraseña</label>
        <input type="password" class= "formulario__input" name = 'password2'>
        <label for="" class="formulario__label">Confirmar Contraseña </label>
        <input type="submit" class= "formulario__submit" value=Registrar>
        {% if form.errors %}
        <label for="" class="formulario__label" style="color:#FF0000" >Usuario no valido o contraseñas no identicas.</label>
        {% endif %}
        <button type="button" id="Loguearse">Ya tengo Cuenta</button> 
    </form>
  </div>
</div>
{%endblock%}
